.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 200px auto 0;
    padding-bottom: 100px;
    border-bottom: 1px solid #C4C4C4;
    width: 95%;
}

@media screen and (max-width: 1200px) {
    .contacts {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
}