.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 57px 131px 57px 129px;
}

@media screen and (max-width: 992px) {
  .footer {
    margin: 25px 31px 0;
  }
}

@media screen and (max-width: 575px) {
  .footer {
    margin-top: 40px;
  }
}
